p2/p2/Web References/ServicioFintech/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcf1nt3ch2018.azurewebsites.net/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CardlessWcf" />
  <xs:element name="GetMovtos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CutomerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovtosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CardlessWcf" minOccurs="0" name="GetMovtosResult" nillable="true" type="q1:ArrayOfMovto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMovtos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CardlessWcf" minOccurs="0" name="customerInfo" nillable="true" type="q2:Movto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMovtosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertMovtosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearSession">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearSessionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudDelogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudDeloginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SolicitudDeloginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaDeSaldo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numCuenta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaDeSaldoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConsultaDeSaldoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Transferencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numCuentaDeRetiro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NumCuentaDeDeposito" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Motivo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Monto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TransferenciaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>